<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="DEV_HOME" value="/Users/wxx/dev/azkaban_code/ncservice/logs" />

    <!--控制台输出收集-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
       <!-- <file>${DEV_HOME}/out.log</file>-->
        <encoder>
            <charset>UTF-8</charset>
            <pattern> %d{yyyy-MM-dd HH:mm:ss,SSS} [%p] %logger{0}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!--滚动日志，10mb大小做一次切割-->
    <appender name="ROLLING_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/ncservice-az-provider.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %logger{0}:%line - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/ncservice-az-provider.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <!--日志信息-->
    <logger name="com.nick.weixx.cloud.az.provider" level="DEBUG">
        <appender-ref ref="ROLLING_FILE" />
    </logger>


    <root level="INFO">
        <appender-ref ref="ROLLING_FILE" />
        <appender-ref ref="STDOUT" />
    </root>


</configuration>

